<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplemobiletools.gallery.pro"
    android:installLocation="auto">

    <application
        android:name=".App"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.EditActivity">

            <intent-filter
                android:name="foss-editor"
                tools:node="remove">

                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NewPhotoEditActivity"
            android:label="@string/editor">

            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NewVideoEditActivity"
            android:label="@string/editor">

            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
